.App {
    display: grid;
    grid-template-columns: repeat(1, max-width);
    align-content: center;
}

.App-header {
    grid-row: 1;
    text-align: center;
    background: rgba(63, 62, 62, 0.80);
    color: white;
    font-weight: bold;
    font-size: larger;
}